.root {
        font-family: Arial, Helvetica, sans-serif;
}
body {margin: 0;}


#wrapper {
        margin: auto;
        padding: 1%;
        width: 33.33%;
        background-color: white;
}

html {
        margin: 0 0;
        font-size: 80%;        
        background :linear-gradient(135deg,rgb(59, 94, 146),white) ;

}

h1 {font-size: 2em;}
h2 {font-size: 1.5em;}


header {
        background-color: rgb(0, 142, 250);
        text-align: center;
}

em {
        font-style: normal;
        font-weight: bold;
}

header h1 {
            text-indent: -999em;
            background: url(../materiale/images/logo_fipav.svg) 200% 200% contain center no-repeat;
          }

header h2 {
        color: white;
}
